{% extends "personal/header.html" %}
{% load staticfiles %}
{% block content %}

<style type="text/css">
  @import url({% static 'projects/css/custom.css' %});
</style>

<div class="inner" id="inner">
  <div class="container" style=" width:100%; height:100%;">

    {% for project in all_projects %}
      {% if forloop.first %}
        <div class="row">
      {% endif %}
      <div class="col-md-4 col-xs-4" style="height:33.3% ;padding:0.5%;">
        <div class="project"  style="height:100%; background-color:#2f363d;">
          <div class="title" style="height:25%; width:100%; padding-top:4%;">
            <font color="WHITE">
              <b>
                {{ project.title }}
              </b>
            </font>
          </div>
          <div class="description" style="height:85%; width:100%; display:none;">
            <font color="WHITE">
              <B>
                {{ project.description }}
              </B>
            </font>
          </div>
          <div class="link-div" style="height:12%; display:none">
            <a href="{{ project.link }}" target="_blank"  style="text-decoration:none">
              <font color="BLACK">
                <div class="link">
                  GitHub link
                </div>
              </font>
            </a>
          </div>
          <div class="image" style="height:75%; width:100%; padding-bottom:5%">
            <img src="/static/projects/img/{{ project.img_src}} " style="height:100%; width:90%;"/>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}

  </div>
</div>

<a href="/">
<div class="home-link" id="home-link" style="border:none; height:10%; width:5%; position:absolute; right:5%; bottom:1%; background-color:2f363d;">
  <img src="{% static 'personal/img/home.jpg' %}" style="max-height:90%; max-width:90%;" />
</div>
</a>

<script src="{% static 'projects/js/jquery.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready( function () {
    $(".project").mouseenter( function() {
      $(this).find(".title, .image").hide();
      $(this).find(".description, .link-div").show();
    }).mouseleave( function() {
      $(this).find(".title, .image").show();
      $(this).find(".description, .link-div").hide();
    });
  });
</script>

{% endblock %}
